@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Cairo:400,700");
@font-face {
  font-family: 'customFont';
  src: url("../assets/font/customFont.woff2") format("woff2"), url("../assets/font/customFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

body {
  background-color: #fff;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

@media (max-width: 599px) {
  body {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
}

img,
video {
  max-width: 100%;
}

header {
  position: fixed;
  right: 0;
  padding: 1rem;
  z-index: 2000;
}

.toggle {
  display: block;
  position: absolute;
  right: 20px;
  z-index: 102;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
  z-index: 101;
}

.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.toggle input + div div span:first-child {
  top: 0;
}

.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
  top: 0;
}

.toggle input + div div span:last-child {
  bottom: 0;
}

.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
  bottom: 0;
}

.toggle input + div div span:before, .toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 3px;
  border-radius: 1px;
  background: #888888;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-radius 0.3s ease, background 0.4s ease, -webkit-transform 0.5s ease;
  transition: border-radius 0.3s ease, background 0.4s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease, -webkit-transform 0.5s ease;
}

.toggle input + div div span:before {
  left: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translate(1px, 0) scaleX(1.1);
          transform: translate(1px, 0) scaleX(1.1);
}

.toggle input + div div span:after {
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translate(-1px, 0) scaleX(1.1);
          transform: translate(-1px, 0) scaleX(1.1);
}

.toggle input + div svg {
  display: block;
  fill: none;
  stroke: #888888;
  stroke-width: 3px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, stroke 0.4s ease, -webkit-transform 0.5s ease;
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, stroke 0.4s ease, -webkit-transform 0.5s ease;
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease, -webkit-transform 0.5s ease;
}

.toggle input + div svg:nth-child(3) {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.toggle input:checked + div div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle input:checked + div div span:before, .toggle input:checked + div div span:after {
  background: #000000;
}

.toggle input:checked + div div span:first-child:before {
  -webkit-transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
          transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:first-child:after {
  -webkit-transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
          transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:before {
  -webkit-transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
          transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:after {
  -webkit-transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
          transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  stroke: #000000;
}

.toggle input:checked + div svg:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.menu {
  background-color: #feeb00;
  width: 400px;
  height: 100vh;
  position: absolute;
  right: -400px;
  top: 0;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  -webkit-box-shadow: -11px 0px 23px 6px rgba(0, 0, 0, 0.05), -4px 0px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: -11px 0px 23px 6px rgba(0, 0, 0, 0.05), -4px 0px 10px 2px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}

@media (max-width: 599px) {
  .menu {
    width: 100vw;
    height: 90vh;
    border-radius: 0 0 0px 60px;
  }
}

.menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  height: 100%;
}

.menu nav li {
  color: #000;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}

@media (max-width: 599px) {
  .menu nav li {
    font-size: 2.5rem;
  }
}

.menu nav .fab {
  color: #000;
  -webkit-transition: 90ms ease;
  transition: 90ms ease;
  margin: 10px;
}

.menu nav .fab:hover {
  color: #3d3d3d;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 210ms ease;
  transition: 210ms ease;
}

.menu nav a {
  text-decoration: none;
  -webkit-transition: 90ms ease;
  transition: 90ms ease;
}

.menu nav a:hover {
  color: #3d3d3d;
  -webkit-transform: scale(1.3) rotate(-5deg);
          transform: scale(1.3) rotate(-5deg);
  -webkit-transition: 210ms ease;
  transition: 210ms ease;
}

.home {
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media (max-width: 599px) {
  .home {
    height: 100vh;
    margin: 0 auto 1rem auto;
  }
}

.home__hi-box {
  position: relative;
  background-color: #feeb00;
  width: 300px;
  height: 300px;
  border-radius: 200px 200px 0 200px;
  margin: 3rem 0 4rem 0;
}

.home__hi-box h1 {
  position: absolute;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 10rem;
  line-height: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home__hi-box h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 3rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 50%;
  opacity: 0;
}

.home__text {
  width: 90vw;
}

@media (max-width: 599px) {
  .home__text {
    width: 98vw;
  }
}

.home__text h2 {
  font-size: 5.1vmax;
  color: #888888;
  font-family: customFont, serif;
  font-weight: normal;
}

@media (max-width: 599px) {
  .home__text h2 {
    z-index: 1;
    font-size: 2rem;
  }
}

.home__text span {
  font-size: 5.1vmax;
  color: #888888;
  font-family: customFont, serif;
  font-weight: normal;
}

@media (max-width: 599px) {
  .home__text span {
    font-size: 2rem;
  }
}

.home__arrow-icon {
  font-size: 2rem;
  color: #888888;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: absolute;
  bottom: -10px;
  padding: 50px 0;
}

@media (max-width: 599px) {
  .home__arrow-icon {
    visibility: hidden;
  }
}

.core-skills {
  scroll-snap-align: start;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 599px) {
  .core-skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .core-skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
}

.core-skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 599px) {
  .core-skills__box {
    margin: 1rem 0;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .core-skills__box {
    margin: 2rem 0;
  }
}

.core-skills__box .coreskills__img {
  width: 60%;
}

@media (max-width: 599px) {
  .core-skills__box .coreskills__img {
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .core-skills__box .coreskills__img {
    width: 30%;
  }
}

.core-skills__box h1 {
  font-size: 2.7rem;
  color: #888888;
  font-family: customFont, serif;
  font-weight: normal;
  margin: 1rem;
}

@media (max-width: 599px) {
  .core-skills__box h1 {
    font-size: 2rem;
  }
}

.core-skills__box h2 {
  font-size: 0.7rem;
  color: #000;
  text-transform: uppercase;
  padding: 4px 6px;
  background-color: #feeb00;
}

.core-skills__box p {
  padding: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  text-align-last: center;
  line-height: 1.5rem;
  margin: 1rem;
  width: 90%;
  color: #888888;
}

@media (max-width: 599px) {
  .core-skills__box p {
    width: 95vw;
    padding: 0.5rem 0.3rem;
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.companies {
  scroll-snap-align: start;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 599px) {
  .companies {
    height: auto;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .companies {
    height: auto;
  }
}

.companies h1 {
  font-size: 2.5rem;
  color: #888888;
  font-family: customFont, serif;
  font-weight: normal;
  margin: 2rem;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .companies h1 {
    margin: 4rem;
  }
}

@media (max-width: 599px) {
  .companies h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }
}

.companies__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.companies__image-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
  width: 120px;
}

@media (max-width: 599px) {
  .companies__image-container img {
    width: 70px;
    margin: 1rem;
  }
}

.about-me {
  scroll-snap-align: start;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 599px) {
  .about-me {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .about-me {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-me__background {
  -webkit-clip-path: polygon(0 0, 62% 0, 44% 100%, 0% 100%);
          clip-path: polygon(0 0, 62% 0, 44% 100%, 0% 100%);
  background-color: #feeb00;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .about-me__background {
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
  }
}

@media (max-width: 599px) {
  .about-me__background {
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
  }
}

.about-me__text {
  width: 40vw;
  margin: 3rem;
  height: 80vh;
  padding: 2rem;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

@media (max-width: 599px) {
  .about-me__text {
    width: 100vw;
    padding: 1rem;
    -webkit-transform: none;
            transform: none;
    height: 50%;
    background-color: #feeb00;
    margin: 2rem;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .about-me__text {
    width: 100vw;
    padding: 5rem;
    -webkit-transform: none;
            transform: none;
    height: 50%;
    background-color: #feeb00;
    margin: 2rem;
  }
}

.about-me__text h1 {
  font-size: 4rem;
  font-family: customFont, serif;
  font-weight: normal;
  margin: 2rem;
}

@media (max-width: 599px) {
  .about-me__text h1 {
    font-size: 2rem;
    margin: 1rem;
  }
}

.about-me__text p {
  text-align: justify;
  font-size: 1.3rem;
}

@media (max-width: 599px) {
  .about-me__text p {
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }
}

.about-me__skills {
  width: 35vw;
  height: 80vh;
  margin: 3rem;
  padding: 2rem;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

@media (max-width: 1200px) and (min-width: 600px) {
  .about-me__skills {
    width: 98vw;
    height: 100%;
    margin: 0rem 0.5rem 0rem 0.5rem;
    padding: 0.5rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 599px) {
  .about-me__skills {
    width: 98vw;
    height: 100%;
    margin: 0rem 0.5rem 0rem 0.5rem;
    padding: 0.5rem;
    -webkit-transform: none;
            transform: none;
  }
}

.about-me__skills h1 {
  font-size: 2.5rem;
  font-family: customFont, serif;
  font-weight: normal;
  margin: 2rem;
  color: #888888;
}

@media (max-width: 599px) {
  .about-me__skills h1 {
    margin: 0.5rem;
    font-size: 2rem;
  }
}

.about-me__skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me__skills .skills-container .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #888888;
  margin: 0.7rem 1rem;
  font-size: 0.6rem;
}

@media (max-width: 599px) {
  .about-me__skills .skills-container .skill {
    margin: 0.4rem 0.6rem;
  }
}

.about-me__skills .skills-container .skill i {
  font-size: 2.5rem;
  color: #888888;
  margin: 0.5rem;
}

@media (max-width: 599px) {
  .about-me__skills .skills-container .skill i {
    font-size: 1.8rem;
  }
}

.projects {
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .projects {
    height: 100%;
    margin: 2rem 0;
  }
}

@media (max-width: 599px) {
  .projects {
    height: 100%;
    margin: 3rem 0;
  }
}

.projects h1 {
  font-size: 2.5rem;
  font-family: customFont, serif;
  font-weight: normal;
  margin: 5rem 0 1rem 0;
  color: #888888;
}

@media (max-width: 599px) {
  .projects h1 {
    font-size: 2rem;
    margin: 0;
  }
}

.projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__project:nth-child(odd) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.projects__project {
  width: 80vw;
  margin: 3rem 1rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .projects__project {
    width: 98vw;
  }
}

@media (max-width: 599px) {
  .projects__project {
    width: 98vw;
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 1rem 0rem;
  }
}

.projects__project .mobile {
  max-height: 70vh;
}

@media (max-width: 599px) {
  .projects__project .mobile {
    max-height: 50vh;
  }
}

.projects__project img {
  max-width: 50vw;
  max-height: 50vh;
}

@media (max-width: 599px) {
  .projects__project img {
    max-width: 80vw;
  }
}

.projects__project h1 {
  font-family: customFont, sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .projects__project h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 599px) {
  .projects__project h1 {
    font-size: 1.6rem;
    margin: 0 0 0rem 0;
  }
}

.projects__project p {
  width: 80%;
  text-align: justify;
  text-align-last: center;
  margin: auto;
  color: #888888;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .projects__project p {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 599px) {
  .projects__project p {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

.projects__project .stack {
  font-size: 0.7rem;
  margin: 1rem auto;
  font-weight: bold;
}

@media (max-width: 599px) {
  .projects__project .stack {
    margin: 0rem auto;
  }
}

.projects__project a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #000;
  padding: 4px 6px;
  background-color: #feeb00;
  -webkit-transition: 130ms ease;
  transition: 130ms ease;
}

.projects__project a:hover {
  background: #000;
  color: #feeb00;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.contact {
  scroll-snap-align: end;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 599px) {
  .contact {
    height: 80vh;
  }
}

.contact img {
  max-width: 39vw;
  position: absolute;
  z-index: 3;
}

@media (max-width: 599px) {
  .contact img {
    position: relative;
    max-width: 100vw;
  }
}

.contact #cable-left {
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.contact #cable-right {
  right: 0;
}

.contact h1 {
  font-size: 2.5rem;
  font-family: customFont, serif;
  font-weight: normal;
  margin: 0 0 1rem 0;
  color: #888888;
}

@media (max-width: 599px) {
  .contact h1 {
    font-size: 2rem;
  }
}

.contact__form {
  background-image: url("../assets/images/board.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28vw;
  height: 32vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
}

@media (max-width: 599px) {
  .contact__form {
    width: 98vw;
    height: 400px;
  }
}

.contact__form input,
.contact__form textarea {
  width: 70%;
  margin: 0.2rem;
  border: none;
  padding: 5px;
  background-color: #ffffffdc;
  font-size: 1rem;
}

.contact__form textarea {
  height: 30%;
}

.contact__form .btn {
  background-color: #feeb00;
  border-radius: 30px;
  height: 10%;
  border: 5px solid #fff;
  width: 50%;
  color: #000;
  padding: 5px;
  line-height: 10%;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 90ms ease;
  transition: 90ms ease;
}

@media (max-width: 599px) {
  .contact__form .btn {
    height: 10%;
    width: 80%;
  }
}

.contact__form .btn:hover {
  background-color: #414141;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 210ms ease;
  transition: 210ms ease;
  cursor: pointer;
  color: #feeb00;
  font-size: 1.3rem;
  border: 3px solid #000;
}

.footer {
  scroll-snap-align: end;
  border-top: 20px solid #feeb00;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #222222;
}

.footer iframe {
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
  -webkit-transition: 180ms ease;
  transition: 180ms ease;
}

.footer iframe:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 210ms ease;
  transition: 210ms ease;
}

@media (max-width: 599px) {
  .footer {
    margin: 4rem 0 0 0;
    height: 100%;
    width: 100%;
  }
}

.footer__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content li {
  list-style: none;
  margin: 7rem 2rem 0 2rem;
}

@media (max-width: 599px) {
  .footer__content li {
    margin: 2rem;
  }
}

.footer__content i {
  color: #feeb00;
  font-size: 3rem;
  -webkit-transition: 90ms ease;
  transition: 90ms ease;
}

.footer__content i:hover {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
  -webkit-transition: 210ms ease;
  transition: 210ms ease;
}

.footer__content p {
  color: #fff;
  bottom: 1rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 599px) {
  .footer__content p {
    padding: 1rem;
    background-color: #222222;
    position: static;
    -webkit-transform: none;
            transform: none;
    margin: 1rem;
  }
}

/* KEYFRAMES ****************************************************************** */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 100;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  80% {
    -webkit-transform: scale(1) translateY(30%);
            transform: scale(1) translateY(30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(30%);
            transform: scale(1) translateY(30%);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  80% {
    -webkit-transform: scale(1) translateY(30%);
            transform: scale(1) translateY(30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(30%);
            transform: scale(1) translateY(30%);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */