@font-face {
    font-family: 'DK Meshuggeneh';
    src: url('DKMeshuggeneh.woff2') format('woff2'),
        url('DKMeshuggeneh.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

